<!DOCTYPE html>
<html>
<head>
	<title>Danh Sách May Tinh</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h2 style="text-align: center;">Danh Muc Cac May Tinh</h2>
		<div>
			<table class="table">
				<thead>
					<tr>
                        <th>STT</th>
                        <th>Chi Tiet</th>
                        <th>Gia</th>
                        <th>hang</th>
						<th>Ten May Tinh</th>
					</tr>
				</thead>
				<tbody>
					<% maytinh.forEach((item)=> { %> 
					<tr>
						<th><%- item.STT%></th>
						<th><%- item.chitiet%></th>
						<th><%- item.gia%></th>
						<th><%- item.hang%></th>
						<th><%- item.tenmaytinh%></th>				
					</tr>
					<% })%>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>